services:
  democv:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: "democv"
    hostname: democv
    restart: unless-stopped
    environment:
      ISSUER_DEV_MBOB: '${ISSUER_DEV_MBOB}'
    ports:
      - 8080:80
    volumes:
      - ../app/html:/var/www/html
    networks:
      - eduwallet_verifiers

networks:
  eduwallet_verifiers:
