html, body { width: 100%; height: 100%; margin: 0px; padding: 0px; }

body {
    background-color: #758eca;
    display: flex;
    justify-content: center;

}

body .wrapper { 
    background-color: white;
    width: 1024px;
    height: 100%;
    padding: 20px;
}

body .wrapper button {
    width: 250px;
    height: 50px;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: large;
    border-style: none;
    margin-top: 20px;
    margin-right: 20px;
}

.group .issuers {
    display:none;
}
.group .issuer .credentials-wrapper {
    display: none;
}

.group .issuer .credentials {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}
