html, body { width: 100%; height: 100%; margin: 0px; padding: 0px; }

body {
    background-color: #758eca;
    display: flex;
    justify-content: center;

}

body .wrapper { 
    background-color: white;
    width: 1024px;
    height: 100%;
    padding: 20px;
}

body .wrapper button {
    width: 250px;
    height: 50px;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: large;
    border-style: none;
    margin-top: 20px;
    margin-right: 20px;
}

body .qrcodeui button {
    background-color: #c33;
    width: 180px;
    height: 40px;
    font-size: normal;
    margin: 10px 10px 0px 0px;
    position: absolute;
    bottom: 10px;
}
body .qrcodeui button.right { 
    right: 10px;
}

.group .issuers {
    display:none;
}
.group .issuer .credentials-wrapper {
    display: none;
}

.group .issuer .credentials {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.qrcodeui { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.qrcodeui .stage2, .qrcodeui .stage3, .qrcodeui .stage4 { width: 400px; height: 400px; position: relative;}
.qrcode { margin-left: 80px; }
.qrcode canvas { display: none; }